[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = code --wait
[alias]
  st = status -sb
  co = checkout
  ci = commit
  br = branch
  l = log --graph --full-history --pretty=format:'%C(red)%h%Creset - %C(yellow)%s %C(green)(%an, %cr)%C(white)%d%C(reset)' --abbrev-commit --date=relative
  contains = branch --contains
[init]
  defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = false
[push]
  default = simple
